In [51]:
import os
import pandas as pd
import numpy as np

In [52]:
rawdata_loc = "D:\Projects_IndranilDa\Customer_Acq_Model\customer_acq_model\data\\01_raw"
reporting_loc = "D:\Projects_IndranilDa\Customer_Acq_Model\customer_acq_model\data\\03_reporting" 
intermediate_loc = "D:\Projects_IndranilDa\Customer_Acq_Model\customer_acq_model\data\\02_intermediate"

In [53]:
## pulling raw media - sales - customer demography - cost of acq cutomers
data = pd.read_csv(f"{intermediate_loc}\\cluster_tag_data.csv")
data.head(5)

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,frozen_sqft,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost,cluster_tag
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4,Bag Stuffers,USA,M,F,...,5415,3610,1,1,1,1,1,"Daily Paper, Radio",126.62,0
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3,Cash Register Lottery,USA,M,M,...,5415,3610,1,1,1,1,1,"Daily Paper, Radio",59.86,0
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2,High Roller Savings,USA,S,F,...,5415,3610,1,1,1,1,1,"Daily Paper, Radio",84.16,0
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2,Cash Register Lottery,USA,M,F,...,5415,3610,1,1,1,1,1,In-Store Coupon,95.78,0
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3,Double Down Sale,USA,M,M,...,5415,3610,1,1,1,1,1,Radio,50.79,0

In [54]:
data.columns

Index(['food_category', 'food_department', 'food_family',
       'store_sales(in millions)', 'store_cost(in millions)',
       'unit_sales(in millions)', 'promotion_name', 'sales_country',
       'marital_status', 'gender', 'total_children', 'education',
       'member_card', 'occupation', 'houseowner', 'avg_cars_at home(approx)',
       'avg. yearly_income', 'num_children_at_home',
       'avg_cars_at home(approx).1', 'brand_name', 'SRP', 'gross_weight',
       'net_weight', 'recyclable_package', 'low_fat', 'units_per_case',
       'store_type', 'store_city', 'store_state', 'store_sqft', 'grocery_sqft',
       'frozen_sqft', 'meat_sqft', 'coffee_bar', 'video_store', 'salad_bar',
       'prepared_food', 'florist', 'media_type', 'cost', 'cluster_tag'],
      dtype='object')

In [55]:
data.dtypes

food_category                  object
food_department                object
food_family                    object
store_sales(in millions)      float64
store_cost(in millions)       float64
unit_sales(in millions)         int64
promotion_name                 object
sales_country                  object
marital_status                 object
gender                         object
total_children                  int64
education                      object
member_card                    object
occupation                     object
houseowner                     object
avg_cars_at home(approx)        int64
avg. yearly_income             object
num_children_at_home            int64
avg_cars_at home(approx).1      int64
brand_name                     object
SRP                           float64
gross_weight                  float64
net_weight                    float64
recyclable_package              int64
low_fat                         int64
units_per_case                  int64
store_type                     object
store_city                     object
store_state                    object
store_sqft                      int64
grocery_sqft                    int64
frozen_sqft                     int64
meat_sqft                       int64
coffee_bar                      int64
video_store                     int64
salad_bar                       int64
prepared_food                   int64
florist                         int64
media_type                     object
cost                          float64
cluster_tag                     int64
dtype: object

In [56]:
def one_hot_encode_and_sparsity(df, column_name):
    """
    One-hot encodes a categorical column and calculates the percentage increase in sparsity.
    
    Parameters:
        df (pd.DataFrame): The input DataFrame.
        column_name (str): The name of the column to one-hot encode.
        
    Returns:
        pd.DataFrame: DataFrame with one-hot encoded features.
        float: Percentage increase in sparsity.
    """
    # Original number of non-zero elements
    original_non_zero = np.count_nonzero(df[column_name].notna())

    # Perform one-hot encoding
    df_encoded = pd.get_dummies(df, columns=[column_name], dtype=int)

    # New number of non-zero elements
    new_non_zero = np.count_nonzero(df_encoded.values)

    # Calculate sparsity increase percentage
    sparsity_increase = ((new_non_zero - original_non_zero) / original_non_zero) * 100

    return df_encoded, sparsity_increase

# Example usage:
# df = pd.DataFrame({'category': ['A', 'B', 'C', 'A', 'B', 'C']})
# encoded_df, sparsity_increase = one_hot_encode_and_sparsity(df, 'category')
# print(encoded_df)
# print(f"Sparsity Increase: {sparsity_increase:.2f}%")

In [57]:
data_encoded, sparsity_check = one_hot_encode_and_sparsity(data, 'food_category')
sparsity_check

3546.5496127622955

In [58]:
data_encoded.head()

,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,total_children,...,food_category_Paper Products,food_category_Pizza,food_category_Plastic Products,food_category_Pure Juice Beverages,food_category_Seafood,food_category_Side Dishes,food_category_Snack Foods,food_category_Specialty,food_category_Starchy Foods,food_category_Vegetables
0,Frozen Foods,Food,7.36,2.7232,4,Bag Stuffers,USA,M,F,1,...,0,0,0,0,0,0,0,0,0,0
1,Frozen Foods,Food,5.52,2.5944,3,Cash Register Lottery,USA,M,M,0,...,0,0,0,0,0,0,0,0,0,0
2,Frozen Foods,Food,3.68,1.3616,2,High Roller Savings,USA,S,F,4,...,0,0,0,0,0,0,0,0,0,0
3,Frozen Foods,Food,3.68,1.1776,2,Cash Register Lottery,USA,M,F,2,...,0,0,0,0,0,0,0,0,0,0
4,Frozen Foods,Food,4.08,1.4280,3,Double Down Sale,USA,M,M,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
def map_food_department(df, column_name):
    """
    Maps specific food department categories to numerical labels and keeps the rest unchanged.

    Parameters:
        df (pd.DataFrame): Input DataFrame containing the food_department column.
        column_name (str): The name of the column to map.

    Returns:
        pd.DataFrame: DataFrame with a new column containing mapped values.
    """
    # Define the mapping for selected categories
    mapping = {
        'Snack Foods': 1,
        'Produce': 2,
        'Dairy': 3,
        'Baking Goods': 4,
        'Deli': 5
    }

    # Apply mapping, keeping other values unchanged
    #df['food_department_mapped'] = df[column_name].map(mapping).fillna(df[column_name])
    df['food_department_mapped'] = df[column_name].map(mapping).fillna(0).astype(int)

    return df

# Example usage:
# df = pd.DataFrame({'food_department': ['Snack Foods', 'Produce', 'Dairy', 'Meat', 'Beverages', 'Baking Goods']})
# df = map_food_department(df, 'food_department')
# print(df)

In [60]:
data_food_department = map_food_department(data, 'food_department')
data_food_department.head()

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,meat_sqft,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost,cluster_tag,food_department_mapped
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4,Bag Stuffers,USA,M,F,...,3610,1,1,1,1,1,"Daily Paper, Radio",126.62,0,0
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3,Cash Register Lottery,USA,M,M,...,3610,1,1,1,1,1,"Daily Paper, Radio",59.86,0,0
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2,High Roller Savings,USA,S,F,...,3610,1,1,1,1,1,"Daily Paper, Radio",84.16,0,0
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2,Cash Register Lottery,USA,M,F,...,3610,1,1,1,1,1,In-Store Coupon,95.78,0,0
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3,Double Down Sale,USA,M,M,...,3610,1,1,1,1,1,Radio,50.79,0,0

In [61]:
data_food_department['food_department_mapped'].unique()

array([0, 4, 2, 1, 3, 5])

In [62]:
## Feature engineering on food category column

data['food_category'].unique()

array(['Breakfast Foods', 'Bread', 'Canned Shrimp', 'Baking Goods',
       'Vegetables', 'Frozen Desserts', 'Candy', 'Snack Foods', 'Dairy',
       'Starchy Foods', 'Cleaning Supplies', 'Decongestants', 'Meat',
       'Hot Beverages', 'Jams and Jellies', 'Carbonated Beverages',
       'Seafood', 'Specialty', 'Kitchen Products', 'Electrical',
       'Beer and Wine', 'Candles', 'Fruit', 'Pure Juice Beverages',
       'Canned Soup', 'Paper Products', 'Canned Tuna', 'Eggs', 'Hardware',
       'Canned Sardines', 'Canned Clams', 'Pain Relievers', 'Side Dishes',
       'Bathroom Products', 'Magazines', 'Frozen Entrees', 'Pizza',
       'Cold Remedies', 'Canned Anchovies', 'Drinks', 'Hygiene',
       'Plastic Products', 'Canned Oysters', 'Packaged Vegetables',
       'Miscellaneous'], dtype=object)

In [63]:
data['food_category'].value_counts().head(10)

food_category
Vegetables          7440
Snack Foods         6919
Dairy               3835
Meat                3107
Fruit               3080
Jams and Jellies    2550
Baking Goods        1947
Breakfast Foods     1946
Bread               1797
Canned Soup         1722
Name: count, dtype: int64

## Feature Engineering: Food category

In [64]:
fc_df = pd.read_csv(f"{intermediate_loc}\\food_category_revenue.csv")
fc_df.head(10)  ## sort revenue wise take top 10 food category in desc order ## after sorting we will take first 10 food category and save it in a list format, from that list we will take names and then in main data make 10 columns which will match beween rows of that data and it will create 0,1 columns by that name

      food_category   Revenue        Cost  Demand       roi
0        Vegetables  50067.64  20059.2579   23041  2.495987
1       Snack Foods  47726.96  19115.3878   21491  2.496782
2             Dairy  25705.33  10335.8544   11825  2.487006
3              Meat  21206.17   8470.7505    9622  2.503458
4             Fruit  20134.93   8063.4484    9529  2.497062
5  Jams and Jellies  15400.78   6132.6088    7831  2.511293
6             Bread  11813.05   4728.0011    5552  2.498529
7   Breakfast Foods  11328.06   4535.8428    6025  2.497454
8      Baking Goods  11313.59   4523.1481    6037  2.501265
9        Electrical  11147.72   4477.1918    4703  2.489891

In [65]:
## sort revenue wise take top 10 food category in desc order

fc_top10_df = pd.read_csv(f"{intermediate_loc}\\food_category_revenue_top10.csv")
fc_top10_df.head(10)

          food_category   Revenue       Cost  Demand       roi
0          Canned Clams   1274.46   497.0866     630  2.563859
1      Plastic Products   4622.67  1825.9742    1808  2.531618
2  Carbonated Beverages   4467.83  1773.1219    2427  2.519753
3       Canned Sardines    868.28   345.6828     534  2.511782
4      Jams and Jellies  15400.78  6132.6088    7831  2.511293
5               Seafood   2470.42   984.0403    1164  2.510487
6           Canned Tuna   2320.84   925.1180    1207  2.508696
7        Frozen Entrees   4183.06  1669.8595    1857  2.505037
8         Starchy Foods   7790.06  3110.1617    3433  2.504712
9        Canned Oysters   1165.60   465.5039     568  2.503953

In [66]:
fc_top10_list = fc_top10_df.iloc[:, 0].tolist()
fc_top10_list

['Canned Clams',
 'Plastic Products',
 'Carbonated Beverages',
 'Canned Sardines',
 'Jams and Jellies',
 'Seafood',
 'Canned Tuna',
 'Frozen Entrees',
 'Starchy Foods',
 'Canned Oysters']

In [67]:
def one_hot_encode_food_categories(df, food_column, top_categories):
    
    for category in top_categories:
        df['category'] = (df[food_column] == category).astype(int)
        
    return df

In [68]:
food_category_final = one_hot_encode_food_categories(data, 'food_category', fc_top10_list)
food_category_final

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,coffee_bar,video_store,salad_bar,prepared_food,florist,media_type,cost,cluster_tag,food_department_mapped,category
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4,Bag Stuffers,USA,M,F,...,1,1,1,1,1,"Daily Paper, Radio",126.62,0,0,0
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3,Cash Register Lottery,USA,M,M,...,1,1,1,1,1,"Daily Paper, Radio",59.86,0,0,0
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2,High Roller Savings,USA,S,F,...,1,1,1,1,1,"Daily Paper, Radio",84.16,0,0,0
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2,Cash Register Lottery,USA,M,F,...,1,1,1,1,1,In-Store Coupon,95.78,0,0,0
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3,Double Down Sale,USA,M,M,...,1,1,1,1,1,Radio,50.79,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60423,Specialty,Carousel,Non-Consumable,2.76,1.3248,1,You Save Days,USA,M,F,...,1,0,0,0,0,In-Store Coupon,95.25,2,0,0
60424,Specialty,Carousel,Non-Consumable,1.60,0.4960,1,Price Cutters,USA,S,F,...,1,0,0,0,0,Sunday Paper,69.42,2,0,0
60425,Specialty,Carousel,Non-Consumable,5.52,2.5392,2,Weekend Markdown,USA,M,M,...,1,0,0,0,0,"Sunday Paper, Radio, TV",67.51,2,0,0
60426,Specialty,Carousel,Non-Consumable,8.28,2.5668,3,Sales Days,Canada,S,M,...,1,0,0,0,1,Sunday Paper,132.88,1,0,0
60427,Specialty,Carousel,Non-Consumable,9.20,4.2320,4,Super Duper Savers,Canada,S,F,...,1,0,0,0,1,"Daily Paper, Radio",87.76,1,0,0

In [69]:
food_category_final.category.value_counts()

category
0    60239
1      189
Name: count, dtype: int64

## Feature Engineering: Food department

In [70]:
fd_df = pd.read_csv(f"{intermediate_loc}\\food_department_revenue.csv")
fd_df.head(10)

  food_department   Revenue        Cost  Demand       roi
0            Meat   2486.86    984.3473    1199  2.526405
1         Seafood   2470.42    984.0403    1164  2.510487
2    Baking Goods  26714.37  10655.7569   13868  2.507036
3   Starchy Foods   7790.06   3110.1617    3433  2.504712
4            Deli  18068.32   7217.5224    8638  2.503396
5       Beverages  19003.40   7591.0691    9324  2.503389
6            Eggs   6398.62   2558.0635    2926  2.501353
7          Snacks  10141.97   4056.9256    4822  2.499915
8     Baked Goods  11813.05   4728.0011    5552  2.498529
9       Household  42579.56  17043.4544   19089  2.498294

In [71]:
fd_top10_list = fd_df.iloc[:, 0].tolist()
fd_top10_list

['Meat',
 'Seafood',
 'Baking Goods',
 'Starchy Foods',
 'Deli',
 'Beverages',
 'Eggs',
 'Snacks',
 'Baked Goods',
 'Household']

In [74]:
def one_hot_encode_food_department(df, food_column, top_department):
    
    for department in top_department:
        df['department'] = (df[food_column] == department).astype(int)
        
    return df

In [75]:
food_department_final = one_hot_encode_food_department(data, 'food_department', fd_top10_list)
food_department_final

,food_category,food_department,food_family,store_sales(in millions),store_cost(in millions),unit_sales(in millions),promotion_name,sales_country,marital_status,gender,...,video_store,salad_bar,prepared_food,florist,media_type,cost,cluster_tag,food_department_mapped,category,department
0,Breakfast Foods,Frozen Foods,Food,7.36,2.7232,4,Bag Stuffers,USA,M,F,...,1,1,1,1,"Daily Paper, Radio",126.62,0,0,0,0
1,Breakfast Foods,Frozen Foods,Food,5.52,2.5944,3,Cash Register Lottery,USA,M,M,...,1,1,1,1,"Daily Paper, Radio",59.86,0,0,0,0
2,Breakfast Foods,Frozen Foods,Food,3.68,1.3616,2,High Roller Savings,USA,S,F,...,1,1,1,1,"Daily Paper, Radio",84.16,0,0,0,0
3,Breakfast Foods,Frozen Foods,Food,3.68,1.1776,2,Cash Register Lottery,USA,M,F,...,1,1,1,1,In-Store Coupon,95.78,0,0,0,0
4,Breakfast Foods,Frozen Foods,Food,4.08,1.4280,3,Double Down Sale,USA,M,M,...,1,1,1,1,Radio,50.79,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60423,Specialty,Carousel,Non-Consumable,2.76,1.3248,1,You Save Days,USA,M,F,...,0,0,0,0,In-Store Coupon,95.25,2,0,0,0
60424,Specialty,Carousel,Non-Consumable,1.60,0.4960,1,Price Cutters,USA,S,F,...,0,0,0,0,Sunday Paper,69.42,2,0,0,0
60425,Specialty,Carousel,Non-Consumable,5.52,2.5392,2,Weekend Markdown,USA,M,M,...,0,0,0,0,"Sunday Paper, Radio, TV",67.51,2,0,0,0
60426,Specialty,Carousel,Non-Consumable,8.28,2.5668,3,Sales Days,Canada,S,M,...,0,0,0,1,Sunday Paper,132.88,1,0,0,0
60427,Specialty,Carousel,Non-Consumable,9.20,4.2320,4,Super Duper Savers,Canada,S,F,...,0,0,0,1,"Daily Paper, Radio",87.76,1,0,0,0

In [78]:
food_department_final.department.value_counts()

department
0    54243
1     6185
Name: count, dtype: int64

In [46]:
promotions = pd.read_csv(f"{intermediate_loc}\\promotions_revenue.csv")
promotions.head(10)

       promotion_name        Mean     Variance   Obs    Min     Max
0        Free For All  105.877051  1475.950566  1621  52.06  148.87
1   Pick Your Savings  101.718813  1453.853144   876  56.49  147.17
2  Coupon Spectacular   97.340647  1315.935880   402  51.47  145.31
3        Super Savers  114.039731  1215.978606  1930  64.76  144.54
4    Big Time Savings  106.383007  1209.183257   745  53.45  135.80
5        Bye Bye Baby  103.677071  1195.681204   874  58.16  141.39
6    Price Destroyers  111.700997  1145.925220  1374  58.27  148.62
7        Sales Galore  121.205833  1013.799405  1212  62.40  149.08
8    Double Down Sale   80.373311   941.363550  1755  50.79  142.71
9     Tip Top Savings   96.935835   938.203675   862  54.90  142.58